
body {
    color: black;
    box-sizing: border-box;
    margin: 0
}

.header {
    grid-area: h;
    border-color: crimson;
    border-style: solid;
    text-align: left


}
.navigation {
    grid-area: n;
    border-color: crimson;
    border-style: solid;
    text-align: left


}

.main {
    grid-area: m;
    border-style: solid;
    border-color: crimson;
    text-align: left
}
.sidebar {
    grid-area: s;
    border-style: solid;
    border-color: crimson;
    text-align: left
}
.ads {
    grid-area: a;
    border-style: solid;
    border-color: crimson;
    text-align: left

}
.footer {
    grid-area: f;
    border-style: solid;
    border-color: crimson;
    text-align: left

}
.child {
        border-radius: 5px;
}

@media only screen and (min-width: 769px){
    .container{
        height: 100vh;
        font-size: large;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr 0.2fr;
        grid-template-areas:
        "h h h h h h h h h h h h"
        "s s n n n n n n n n a a"
        "s s m m m m m m m m a a"
        "s s m m m m m m m m a a"
        "s s m m m m m m m m a a"
        "f f f f f f f f f f f f"
        ;
}
}

@media only screen and (max-width: 768px){
    .container{
        height: 100vh;
        font-size: medium;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 0.2fr 0.1fr 0.5fr 0.5fr 0.5fr 0.1fr;
        grid-template-areas:
        "h h h h h h h h h h h h"
        "n n n n n n n n n n n n"
        "s s m m m m m m m m m m"
        "s s m m m m m m m m m m"
        "s s m m m m m m m m m m"
        "a a f f f f f f f f f f"
        ;
}
}

@media only screen and (max-width: 480px){
    .container{
        height: 100vh;
        font-size: small;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 40px 40px auto 40px 40px 40px;
        grid-template-areas:
        "h h h h h h h h h h h h"
        "n n n n n n n n n n n n"
        "m m m m m m m m m m m m"
        "s s s s s s s s s s s s"
        "a a a a a a a a a a a a"
        "f f f f f f f f f f f f"
        ;


    }
}